* {
   box-sizing: border-box;
}

html {
   height: 100%;
}

.container {
   width: 800px;
}

.ticket {
   display: flex;
   justify-content: space-between;
   height: 40px;
   border: 1px solid #ccc;
   align-items: center;

}

.add-ticket-container {
   margin-bottom: 20px;
   display: flex;
   flex-direction: row-reverse;
   
}

.done-btn-container {
   width: 35px;
   height: 35px;
   text-align: center;
   background-image: url('../img/checkbox-blank-circle-svgrepo-com.svg');
   color: black;
   background-size: 25px 25px;
   background-position: center;
   background-repeat: no-repeat;
}

.done-btn-container.checked {
   background-image: url('../img/checkbox-circle-svgrepo-com.svg');
}

.edit-container {
   width: 200px;
   display: flex;
   justify-content: space-between;
   margin: 0 20px;
   background-color: #ccc;
}

.content {
   width: 550px;
   background-color: #aaa;
}

.modalBackground {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 99991;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
}

.modalActive {
    position: absolute;
    width: 800px;
    height: 300px;
    top: calc(50% - 150px);
    left: calc(50% - 250px);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: default;
    padding: 40px 20px;
}

.modalClose {
   font-family: var(--font-regular);
   position: absolute;
   right: 5px;
   top: 5px;
   width: 30px;
   height: 30px;
   cursor: pointer;
}


.modalClose img {
   margin: 3px;
   width: 24px;
   height: 24px;
}

.add-ticket-form {
   display: flex;
   flex-direction: column;

}


label {
   margin-bottom: 10px;
}

input {
   margin-bottom: 20px;
}

.description {
   height: 70px;
   margin-bottom: 30px;
}

.add-form-buttons {
   display: flex;
   justify-content: flex-end;
}

.button {
   margin-right: 20px;
   cursor: pointer;
}

.show {
   display: block;
}